:root {
  --primary-color: #0C356A;
  --primary-hover: #0174BE;
  --background-color: #f7f7f7;
  --card-bg: #ffffff;
  --color: #373B44;
}

$offWhite: #eee;
$transitionEase: all 0.3s ease-in;
$smallBorder: 1px solid $offWhite;

@mixin focusBorder {
  border-color: var(--color);
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(32, 32, 32, 0.25);
}
