<section class="contactSection" id="contact">
    <div class="sectionHead">
        <span>SAY HELLO</span>
        <h2>CONTACT</h2>
    </div>
    <div class="contactContainer sectionContainer">
        <h3>Get in Touch</h3>
        <div class="contactTypes">
            <ul class="socialsList">
                <li>
                    <a href="https://www.linkedin.com/in/gajjar-jay/" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-linkedin" aria-label="Link to Jay's LinkedIn page."></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/gajjar-jay" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-github" aria-label="Link to Jay's GitHub page."></i>
                    </a>
                </li>
                <li>
                    <a href="mailto:gajjarjay.gjp.com" target="_blank" rel="noopener noreferrer">
                        <i class="fa fa-envelope"></i>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>