@import "../../assets/styles/variables.scss";

.contactContainer {
    h3 {
        letter-spacing: 1px;
        margin-bottom: 24px;
    }
}

.contactTypes {
    display: flex;
    text-align: center;
    .socialsList {
        display: flex;
    
        li {
            margin: 0 10px;
    
            a {
                padding: 9px 10px;
                background-color: white;
                border-radius: 6px;
                color: $mainColor;
                border: 1px solid $offWhite;
                box-shadow: 0px 4px 6px rgba(134, 151, 168, 0.1);
                transition: $transitionEase;
                display: inline-block;
    
                &:hover {
                    box-shadow: 0 7px 15px rgba(0, 0, 0, 0.2);
                }
    
                &:focus {
                    @include focusBorder;
                }
            }
        }
    }
}
