<div class="info">
    <div class="heroImageContainer">
        <img src="assets/images/avatar.jpg" alt="Jay Gajjar">
    </div>
    <div class="heroDescription">
        <p class="greeting">HI THERE! I'M</p>
        <h1><span>JAY</span> GAJJAR</h1>
        <p class="smallBio">A <span>Front-End Web Developer</span> very enthusiastic about creating interactive applications
            and experiences on the web.</p>
        <div class="socialsResume">
            <a class="resumeLink" href="assets/resume.pdf" alt="Jay's resume" target="_blank"
                rel="noopener noreferrer">Resume</a>
        </div>
    </div>
</div>