<div class="sidebar">
  <div (click)="showSideMenu = !showSideMenu" class="menuButton" id="menuButton" tabindex=0>
    <div class="linesContainer">
      <i class="fa fa-bars"></i>
    </div>
  </div>
  <!-- Side menu -->
  <aside
    class="sideMenu"
    [class.sideMenuShow]="showSideMenu"
    [class.sideMenuHide]="!showSideMenu"
    id="sideMenu"
  > 
    <p class="logo">JG</p>
    <nav>
      <ul class="navBar">
        <li class="homeNav">
          <a  (click)="selectItem('main-wrapper')" class="navItem">
            <i class="fa fa-home"></i>
            <span class="navItemName">HOME</span>
          </a>
        </li>
        <li class="aboutNav">
          <a (click)="selectItem('about')" class="navItem">
            <i class="fa fa-user"></i>
            <span class="navItemName">ABOUT</span>
          </a>
        </li>
        <!-- <li class="skillsNav">
          <a (click)="selectItem('skills')" class="navItem">
            <i class="fa fa-code"></i>
            <span class="navItemName">SKILLS</span>
          </a>
        </li>
        <li class="worksNav">
          <a href="#works" class="navItem">
            <i class="fa fa-briefcase"></i>
            <span class="navItemName">WORKS</span>
          </a>
        </li> -->
        <li class="contactNav">
          <a (click)="selectItem('contact')" class="navItem">
            <i class="fa fa-phone"></i>
            <span class="navItemName">CONTACT</span>
          </a>
        </li>
      </ul>
    </nav>

    <!-- <div class="scrollDown" id="scrollDown">
      <i class="fa fa-arrow-down"></i>
      <span class="navItemName scrollDownText">Scroll Down</span>
    </div> -->
  </aside>
</div>