<div class="home" id="main-wrapper">
    <app-sidebar (selectedMenu)="scroll($event)"></app-sidebar>
    <div class="home__container">
        <div class="home__wrapper">
            <div class="info-item">
                <app-info></app-info>
            </div>
            <div class="about-me-item">
                <app-about-me></app-about-me>
            </div>
            <!-- <div class="skills-item">
                <app-skills></app-skills>
            </div> -->
            <div class="contact-me-item">
                <app-contact-me></app-contact-me>
            </div>
        </div>
    </div>
</div>