.home {
    .home__container {
        width: calc(100% - 90px);
        margin-left: 90px;
        overflow: hidden;

        @media (max-width: 990px) {
            width: 100%;
            margin-left: 0;
        }
        .home__wrapper {
          padding: 0 33px;
          max-width: 1140px;
          margin: 0 auto;
          @media (max-width: 767px) {
            padding: 0 15px;
          }
        }
    }
}